$black: #000;
$white: #fff;
$red-orange: #F73434;
$red-orange2: #FF402A;
$royal-blue: #335DD8;
$bright-red: #a31c27;
$white-smoke: #F7F7F7;
$white-smoke2: #F0F0F0;
$radical-red: #ff3a6d;
$night-rider: #333333;
$crimson: #D60037;
$hint-of-red: #F5F2F0;
$cerulean: #0077AA;
$gainsboro: #E1E1E1;
$dodger-blue: #0773FF;
$maya-blue: #82B8FF;
$silver: #C1C1C1;
$school-bus-yellow: #EED600;
$nobel: #9B9B9B;
$mona-lisa: #FF9F94;
