<!-- carbohydrates -->
<app-nutrition-value
  [fulfilledNutrition]="nutritionRecord?.fulfilledCarbohydrates"
  [requiredNutrition]="nutritionRecord?.requiredCarbohydrates"
  nutritionType="carbohydrates"
  type="fulfilled"></app-nutrition-value>

<!-- proteins -->
<app-nutrition-value
  [fulfilledNutrition]="nutritionRecord?.fulfilledProteins"
  [requiredNutrition]="nutritionRecord?.requiredProteins"
  nutritionType="proteins"
  type="fulfilled"></app-nutrition-value>

<!-- fats -->
<app-nutrition-value
  [fulfilledNutrition]="nutritionRecord?.fulfilledFats"
  [requiredNutrition]="nutritionRecord?.requiredFats"
  nutritionType="fats"
  type="fulfilled"></app-nutrition-value>
