@import "styles/mixins";
@import "styles/props";

:host {
  @include flex(center, space-between);

  @include under1024 {
    @include flex(stretch, null, column-reverse);
  }

  app-labeled-button {
    @include itemFlex(1, 1, 0);
    height: 50px;

    @include under1024 {
      @include itemFlex(0, 0, 0);
      width: 100%;
      height: 40px;
    }
  }
}

app-labeled-button + app-labeled-button {
  margin-left: 10px;

  @include under1024 {
    margin-left: 0;
  }
}

// since the position is reversed,
// add margin to cancel button
.lmu-cancel-button {
  @include under1024 {
    margin-top: 10px;
  }
}
